name: Check

on:
  push:
  pull_request:

jobs:
  check:
    name: Check (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cargo check
        run: cargo check

      - name: Cargo check examples
        run: cargo check --examples

      - name: Cargo check (GTK3)
        run: cargo check --examples --features gtk3
